*{
    font-family: 'Inter', sans-serif;
}
header{
    display: flex;
    padding-bottom: 12px;;
    border-bottom: 1px solid #e4e4e4;
    align-items: center;
}
.logo{
    
    margin-right: auto;
}
.logo img{
    max-width: 140px;
}
.navigation a{
    color: #999;
    padding:8px 12px;
    text-decoration: none;
}
.navigation .active{
    color: #fff;
    background-color: crimson;
    border-radius: 6px;;
}