body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "feature feature feature feature "
    "footer footer footer footer";
}
.header {
  grid-area: header;
  background-color: antiquewhite;
  height: 100px;
}
.nav {
  grid-area: nav;
  height: 40px;;
  background-color: rgb(247, 159, 44);
}
.features {
  grid-area: feature;
  background-color: rgb(99, 225, 206);
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  row-gap:10px;
}
.feature-item{
  padding: 40px;
  background-color: green;
}
.footer {
  grid-area: footer;
  background-color: rgb(49, 148, 176);
  padding: 40px;
}

.nav a{
  padding: 20px;
  line-height: 20px;
}