$container-background: red;
$primary: rgb(184, 71, 240);
$secondary: rgb(71, 113, 240);
@mixin flex-and-center($bgColor) {
  display: flex;
  justify-content: center;
  background-color: $bgColor;
}

@mixin avatar($size, $rounded: false) {
  width: $size;
  height: $size;
  @if $rounded {
    border-radius: $size/2;
  }
}

.container {
  display: flex;
  background-color: $container-background;
  .left-panel {
    flex: 1;
    @include flex-and-center($primary);
  }

  .right-panel {
    &:hover{
      background-color: $primary;
    }
    flex: 1;
    @include flex-and-center($secondary);
  }
  .box-avatar {
    @include avatar(100px, $rounded: false);
  }
  .circle-avatar {
    @include avatar(100px, $rounded: true);
  }
}

$paddings: 5, 10, 20, 40;

@each $padding in $paddings {
  .p-#{$padding} {
    padding: $padding + px;
  }
}

$green: rgb(0, 47, 0);

@for $i from 1 through 3 {
  li:nth-child(#{$i}) {
    background-color: lighten($green, $i * 5%);
  }
}
