.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.todo-container {
    background-color: beige;
    padding: 10px 20px;
    min-width: 200px;
}
.todo-container h1{
    margin: 0;
    padding: 10px 16px;
}
#list{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
#list li{
    
    background-color: white;
    padding: 10px 16px;
    font-size: 20px;
    box-shadow: 0px 0px 10px #e4e4e4;
    
}

#list li:hover{
    transition: all 250ms;
    transform:scale(1.1)
}